<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="lt" lang="lt">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="Zilvinas Vaisnoras (zilvinas.sektorius.net)" />
	<meta name="description" content="mokyklos tinklalapis" />
	<meta name="keywords" content="key, words" />	
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	<title>CodeRS - Atviras Kodas Lietuvai</title>
</head>
<body>
	<div id="content">
		<div id="top_info">
			<p>Čia gali būti Jūsų <b>logotipas</b> <span id="loginbutton"><a href="#" title="logotipas">&nbsp;</a></span><br />
			arba svarbūs rekvizitai kaip <a href="#">adresas</a> mokyklos.</p>
		</div>
		
		<div id="logo">
			<h1><a href="#" title="We share the relevant.">CodeRS</a></h1>
			<p id="slogan">Atviras Kodas Lietuvai </p>
		</div>
				
		<ul id="tablist">
			<li><a class="current" href="#" accesskey="n"><span class="key">P</span>agrindinis</a></li><li><a href="#" accesskey="b"><span class="key">F</span>orumas</a></li><li><a href="#" accesskey="p"><span class="key">S</span>traipsniai</a></li><li><a href="#" accesskey="r">P<span class="key">r</span>ojektai</a></li><li><a href="#" accesskey="f"><span class="key">N</span>aujienos</a></li><li><a href="#" accesskey="o">S<span class="key">t</span>atistika</a></li>
		</ul>
		<div id="topics">
		  <div class="login">
            <ul>
              <li><strong>Vartotojas</strong><br />
                  <input name="textfield22" type="text" maxlength="25" />
              </li>
            </ul>
	      </div>
		  <div class="login">
				<ul>
					<li><strong>Slaptažodis</strong><br />
					  <input type="password" name="textfield" />
					</li>
				</ul>
		  </div>
			<div class="login">
				<ul>
					<li><br />
					  <label>
					    <input type="submit" name="Submit" value="Submit" />
					  </label>
					</li>
				</ul>
		  </div>
	  </div>
		<div id="search">
			<form method="post" action="?">
				<p><input type="text" name="search" class="search"/> <input type="submit" value="Ieškoti" class="button" /></p>
			</form>
		</div>							
		<div id="left">
		  <div class="left_articles">
				<h2>Kategorijos</h2>
				<p>&nbsp;</p>
		  </div>
		  <div style="width:600px">
		  	<div style="width:200px; float:left">aaaa</div>
			<div style="width:200px; float:left">aaaqaa</div>
			<div style="width:200px; float:left">aaa</div>
			<div style="width:200px; float:left">aaaaaa</div>
			<div style="width:200px; float:left">aaaaa</div>
			<div style="width:200px; float:left">aaaa</div>
			<div style="width:200px; float:left">aaaaaa</div>
		 </div>
		 <br />
	  </div>	
		
		<div id="right">
			<div class="right_articles">
			  <p><img src="images/image.gif" alt="Image" title="Image" class="image" /><strong>PHP panaudojimas kartu su AJAX... </strong><br />
			  Šis skiltis užpildant naujausią straipsnį. Jis negali būti tuščias. Čia maksimum dedamas 500 simbolių ir po to dedamas dvitaškis. Du paskutiniai žodžiai sulinkinami su nuoroda į <a href="?index.php?page=str&amp;id=1">visą straipsnį</a>... </p>
			</div>
			<div class="right_articles">
			  <p><img src="images/image.gif" alt="Image" title="Image" class="image" /><b>Naujausias projektas Script Search</b><br />
			    Aprašomas trumpai ir aiškiai naujausias CodeRS projektas. Taip pat kaip ir straipsnio lentelėje leidžiame 500 simbolių ir po to dedame dvitaškį ir du paskutinius žodžius sulinkiname su<a href="index.php?page=go&amp;id=1"> tuo projektu</a>... </p>
		  </div>
			<div class="right_articles">
				<p><img src="images/image.gif" alt="Image" title="Image" class="image" /><b>Rašinių konkursas &quot;šalta žiema&quot; </b><br />
			    Šioje srityje siūlau talpinti mokinių nuotraukas arba netgi rūšiuoti į konkursus. Galima kad ir pačių mokinių kūrybą (muzika). <a href="#">Toliau</a> jie galėtų ir diskutuo forume, kurį pagal Jūsų pageidavimą galėčiau jums sukurti. Siūlykite.</p>
		  </div>
			<div class="notes">
				<p>Jeigu Jums patiko sukūrtas šablonas Jūsų tinklapiui, prašau <a href="http://zilvinas.sektorius.net/"> susisiekti</a> su manimi.</p>
			</div>
		</div>
		
		<div id="footer">
			<p class="right">&copy; 2007m Visos teisės saugomos. Dizainas - <a href="http://zilvinas.sektorius.net/" title="Zilvinas Vaisnoras autorius">Žilvinas Vaišnoras</a></p>
			<p><a href="#">Nemokamos žinutės</a> &middot; <a href="#">Bendravimas</a> &middot; <a href="#">Paieškos sistemos</a> &middot; <a href="#">Elektroninės knygos</a> &middot; <a href="#">Žodynas internete</a> &middot; <a href="#">Žaidimai internete</a> ir <a href="#">kompiuteryje</a><br /></p>
			
		</div>
	</div>
</body>
</html>